.testimonials
  .container
    .testimonials__wrapper
      h2.testimonials__title.section-title.section-title--black Testimonials
      p.testimonials__text Applicake chocolate cake wafer toffee pie soufflé wafer. 
        | Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé 
        | sweet roll sweet roll jelly-o.
      p.testimonials__author -Walter White