form.contact-form(action="")
  .contact-form__row
    .contact-form__input-col
      label.contact-form__label full name
        input.contact-form__input(type="text" name="fullname")
      label.contact-form__label email
        input.contact-form__input(type="email" name="email")
    .contact-form__address-col
      .contact-form__text 
        p Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
        p Linda Newman
        p W325 State Road 123
        p Mondovi, WI(Wisconsin) 98746-54321
        p (715) 946 - 1234
  label.contact-form__label message
    textarea.contact-form__textarea(name="message")
  input.contact-form__submit(type="submit", value="Message")