.socials
  a.socials__link(href="#")
    span.fab.fa-twitter
  a.socials__link(href="#")
    span.fab.fa-google-plus-g
  a.socials__link(href="#")
    span.fab.fa-dribbble
  a.socials__link(href="#")
    span.fas.fa-coffee