.hero
  .container
    .hero__content
      h1.hero__title 
        span.hero__title-line “I’m looking for the unexpected.
        br
        span.hero__title-line I’m looking for things I’ve never seen before.”