ul.nav-footer
  li.nav-footer__item
    a.nav-footer__link(href="#") Home
  li.nav-footer__item
    a.nav-footer__link(href="#") Services
  li.nav-footer__item
    a.nav-footer__link(href="#") Portfolio
  li.nav-footer__item
    a.nav-footer__link(href="#") Contact