.portfolio {
  padding: 68px 0 80px;
}

.portfolio__titlebar {
  @include clearfix();
}

.portfolio__title {
  float: left;
}

.portfolio__filter {
  margin-top: 15px;
  float: right;
}

.portfolio__grid {
  @include row-flex();
  justify-content: center;
  margin-top: 50px;
}

.portfolio__item {
  @include col();
  @include size(3);
  width: 270px;
  height: 270px;
  background-color: #000;
  margin-top: 30px;
}

.portfolio__img {}