.portfolio
  .container
    .portfolio__titlebar
      h2.portfolio__title.section-title.section-title--black Portfolio
      .portfolio__filter
        include ../filter/filter
    .portfolio__grid
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")
      .portfolio__item
        img.portfolio__img(src="", alt="")