extends layouts/home
block Content
  include ../blocks/page-header/page-header
  include ../blocks/features/features
  include ../blocks/portfolio/portfolio
  include ../blocks/def-section/def-section
  include ../blocks/twitter-section/twitter-section
  include ../blocks/about/about
  include ../blocks/testimonials/testimonials
  include ../blocks/contact/contact
  include ../blocks/footer/footer
  script(src="./js/index.js")

