.def-section {
  background-color: #515f67;
  padding: 70px 0 79px;
}

.def-section__wrapper {
  @include row-flex();
  @include lg(justify-content, center);
  justify-content: space-between;
  align-items: center;
}

.def-section__composition {
  @include col();
  @include size(5);
  @include size-lg(12);
}

.def-section__title {}

.def-section__text {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 33px;

  &:last-of-type {
    margin-top: 25px;
  }
}

.def-section__button {
  margin-top: 32px;
}

.def-section__video-container {
  @include col();
  @include size(6);
  @include size-lg(12);
  @include shift-left(1);
  @include shift-lg-left(0);
  @include lg(margin-top, 30px);
  max-width: 560px;
}

.def-section__video {
  width: 100%;
  height: auto;
}