ul.filter
  li.filter__item
    a.filter__link.filter__link--active(href="#") All
  li.filter__item
    a.filter__link(href="#") Panoramas
  li.filter__item
    a.filter__link(href="#") Portraits
  li.filter__item
    a.filter__link(href="#") Macro
  li.filter__item
    a.filter__link(href="#") Journal