.header {
  background-color: #353f46;
  opacity: 0.85;
  padding: 54px 0;
}

.header__wrapper {
  @include clearfix();
}

.header__logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Segoe UI";
  text-transform: uppercase;
  text-decoration: none;
}

.header__navbar {
  float: right;
}