header.header
  .container.header__wrapper
    a.header__logo(href="#")
      span Blueasy
    nav.header__navbar
      include ../nav/nav
    a.header__menu-btn.js-nav-menu-btn(href="#")
      span.fas.fa-bars