.twitter-section {
  background-color: #4bcaff;
  padding: 70px 0 64px;
}

.twitter-section__wrapper {
  position: relative;
}

.twitter-section__icon {
  position: absolute;
  top: 4px;
  right: 0;
  color: #fff;
  font-size: 30px;
}

.twitter-section__title {}

.twitter-section__text {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
  margin-top: 26px;
}