.twitter-section
  .container
    .twitter-section__wrapper
      .twitter-section__icon
        span.fab.fa-twitter
      h2.twitter-section__title.section-title Twitter
      p.twitter-section__text Unerdwear cookie liquorice. Cake donut cupcake 
        | lollipop soufflé candy. Chocolate oat cake <b>@cheesecake</b> tootsie roll.