.features
  .container
    h2.features__title.section-title Services
    .features__grid
      .features__item
        span.features__icon.features__icon--coffee
        h3.features__subtitle Coffee
        p.features__text Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      .features__item
        span.features__icon.features__icon--instant
        h3.features__subtitle Instant
        p.features__text Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      .features__item
        span.features__icon.features__icon--dslr
        h3.features__subtitle Serious
        p.features__text Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
      .features__item
        span.features__icon.features__icon--frame
        h3.features__subtitle Frame
        p.features__text Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.
